
.env
*.env.local
.env.*.local
.env.dev
.vs/
.idea/
.vscode/
*.user
*.suo
*.userprefs

# Сборки проекта
[Bb]in/
[Oo]bj/
out/
build/
DiscrodBot.Modules.Text

*.nupkg
packages/


[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.testlog


*.sln.iml


*~
*.swp
*.swo
*.bak
*.tmp
*.orig


*.csproj.user
*.pubxml
*.publishsettings


.nuget/
NuGet.exe
nuget.config


.dotnet/



*.jfm


.idea/
*.sln.iml


*.ReSharper
*.ReSharper*


coverage.*
*.coverage
*.coverage.xml


docker-compose.override.yml


*.application
*.manifest
*.settings


*.mdf
*.ldf
*.ndf


*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs


*.opencover.xml


*.ncrunch*
.*crunch*.local.xml


_UpgradeReport_Files/
UpgradeLog*.XML
UpgradeLog*.htm